name: BrowserStack Tests

on:
    # manually run this action using the GitHub UI
    # https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/
    workflow_dispatch:
        inputs:
            website:
                description: Optional TEST_URL
                required: false
                default: ""
    # run on push but only for the main branch
    push:
        branches: [main]
    # run for every pull request
    pull_request: {}
jobs:
    test:
        runs-on: macos-latest

        strategy:
            matrix:
                node-version: [14]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm install
            - name: "BrowserStack Env Setup"
              uses: "browserstack/github-actions/setup-env@master"
              with:
                  username: ${{ secrets.BROWSERSTACK_USERNAME }}
                  access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
                  build-name: BUILD_INFO
                  project-name: "REPO_NAME"
            - name: Run test
              id: test
              continue-on-error: true
              run: |
                  TEST_URL="${{ github.event.inputs.filter }}" npm run test-browserstack
                  TEST_URL="${{ github.event.inputs.filter }}" npm run test-browserstack-german -- --spec card-button-text
            - run: npm run generateMochawesome
            - name: Archive mochawesome reports
              uses: actions/upload-artifact@v2
              with:
                  name: mochawesome-report
                  path: mochawesome-report/
            - name: Check if tests have failed
              if: steps.test.outcome == 'failure'
              run: exit 1
